@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	height: 100vh;
	width: 100%;
	padding: 2rem;
}

.menu {
	position: fixed;
	z-index: 1000;
	width: 150px;
	background: #1b1a1a;
	border-radius: 5px;
	display: none;
	list-style: none;
}

.menu.open {
	display: block;
}

.menu .menu-item {
	padding: 8px 10px;
	font-size: 1rem;
	color: #eee;
	cursor: pointer;
	transition: background-color 0.2s ease-in;
	border-radius: inherit;
}

.menu .menu-item:hover {
	background: #343434;
}

.heading-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
}

.heading-input {
	font-size: 22px;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid #ccc;
}

.heading-close-button {
	margin-left: 10px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 0 10px 10px 0;
	background-color: #e590ed;
	cursor: pointer;
	align-items: center;
	background-color: #fee6e3;
	border: 2px solid #111;
	border-radius: 8px;
	box-sizing: border-box;
	color: #111;
	cursor: pointer;
	display: flex;
	font-family: Inter, sans-serif;
	font-size: 16px;
	height: 48px;
	justify-content: center;
	line-height: 24px;
	max-width: 100%;
	padding: 0 25px;
	position: relative;
	text-align: center;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.heading-close-button:after {
	background-color: #111;
	border-radius: 8px;
	content: '';
	display: block;
	height: 48px;
	left: 0;
	width: 100%;
	position: absolute;
	top: -2px;
	transform: translate(8px, 8px);
	transition: transform 0.2s ease-out;
	z-index: -1;
}

.heading-close-button:hover:after {
	transform: translate(0, 0);
}

.heading-close-button:active {
	background-color: #ffdeda;
	outline: 0;
}

.heading-close-button:hover {
	outline: 0;
}

/* Click Analytics */

.click-analytics-ui {
	position: fixed;
	top: 20px;
	left: 20px;
	background-color: rgba(0, 0, 0, 0.8);
	padding: 20px;
	color: #fff;
	font-size: 16px;
	border-radius: 8px;
	z-index: 1000;
}

.countdown-text {
	margin-bottom: 10px;
}

.progress-bar-container {
	width: 100%;
	background-color: #333;
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 10px;
}

.progress-bar {
	width: 100%;
	height: 10px;
	background-color: #4caf50;
	transition: width 1s linear;
}

.click-counter,
.dblclick-counter {
	margin-top: 5px;
}
/* Fortune */
.container__fortune {
	width: 1200px;
	margin: 0 auto;
}

.fortune-row {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.container__fortune h2 {
	text-align: center;
	font-size: 24px;
	margin: 50px 0 0 0;
}
/* ======================== */

@media (min-width: 768px) {
	.heading-close-button {
		padding: 0 40px;
	}
}
